* {

    word-wrap: break-word;
    font-family: "Sofia Sans", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

div {

    margin: auto;
    margin-top: 10rem;
    margin-left: 40rem;

}

img {

    width: 20rem;
    height: 20rem;

}

input {

    width: 5rem;
    height: 5rem;

}

#backward {

    position: relative;
    top: -5rem;

}

#forward {

    position: relative;
    left: 5rem;
    top: -15rem;
    
}

#comment {

    position: relative;
    left: -15rem;
    top: 10rem;
    font-size: larger;

}

.pictureAnimation1 {

    animation-name: picAni1;
    animation-duration: 1s;

}

.pictureAnimation2 {

    animation-name: picAni2;
    animation-duration: 1s;

}

@keyframes picAni1 {

    from {opacity: 1;}
    to {opacity: 0;}

}

@keyframes picAni2 {

    from {opacity: 0;}
    to {opacity: 1;}
    
}

.textAnimation1 {

    animation-name: textAni1;
    animation-duration: 1s;

}

.textAnimation2 {

    animation-name: textAni2;
    animation-duration: 1s;
    
}

.textAnimation3 {

    animation-name: textAni3;
    animation-duration: 1s;
    
}

.textAnimation4 {

    animation-name: textAni4;
    animation-duration: 1s;
    
}

@keyframes textAni1 {

    from {top: 1rem;}
    to {top: 10rem;}

}


@keyframes textAni2 {

    from {top: 10rem;}
    to {top: 20rem;}

}

@keyframes textAni3 {

    from {top: 20rem;}
    to {top: 10rem;}

}

@keyframes textAni4 {

    from {top: 10rem;}
    to {top: 0rem;}

}


